.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}

.photos {
    display: flex;
    flex-direction: column;
}

.photo {
    width: 100%;
    background-color: white;
    padding: 1rem;
    margin-block: 1rem;
    color: black;
    border-radius: 5px;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}

.photo:hover {
    cursor: pointer;
}

.photo p:nth-child(1) {
    font-weight: 600;
}

.photo p:nth-child(2) {
    font-weight: 400;
}

#loading {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 5%;
    color: black;
    background-color: white;
    padding: 0.8rem;
    border-radius: 8px;
}